
/* set Color for tier */
.S{background-color: red;}
.A{background-color: orange;}
.B{background-color: yellow;}
.C{background-color: yellowgreen;}
.D{background-color: green;}
.E{background-color: gray;}
.F{background-color: white;}