{% extends "index.html" %}

{% block content %}
<div class="container">
    <h1>Find information</h1>
    <form action="/" method="POST" class="form">
        <div class="row">
            <div class="col">
                <label class="text-dark">Item name</label>
                <input type="text" name="item_name" class="form-text">
            </div>
            <div class="col">
                <label class="text-dark">Item category</label>
                <input type="text" name="item_category" class="form-text">
            </div>
            <div class="col">
                <label class="text-dark">Item price</label>
                <input type="text" name="item_price" class="form-text">
                
            </div>
            <div class="col-6">
                <label class=" row text-dark">Add Item</label>
                <input type="submit" class=" row btn btn-primary" value="Add to inventory!">
            </div>
        </div>
    </form>
</div>

{% endblock %}