{% extends "index.html" %}

{% block content %}
<div class="container">
    <h1>Find information</h1>
    <form action="/add" method="POST" class="form">
        <div class="row">
            <div class="col">
                <label class="text-dark">Item name</label>
                <input type="text" name="item_name">
            </div>
            <div class="col">
                <label class="text-dark">Item category</label>
                <input type="text" name="item_category">
            </div>
            <div class="col">
                <label class="text-dark">Item price</label>
                <input type="text" name="item_price">
                
            </div>
            <div class="col-6">
                <input type="submit" class=" row btn btn-primary" value="Add to inventory!">
            </div>
        </div>
        <div class="row alert alert-warning">{{message}}</div>
    </form>
</div>

{% endblock %}