{% extends "index.html" %}

{% block content %}

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td>{{ r["name"] }}</td>
                <td>{{ r["category"] }}</td>
                <td>{{ r["price"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}